@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    background-color: #09cca5;
    font-family: "Arvo", sans-serif;
    overflow-x: hidden;
    margin : 0;
    padding : 0;
}

a{
    text-decoration: none;
}

p,a,span{
    font-family: "Lato", sans-serif;
}

.primary-bg{
    background-color : #00b894;
}

.secondary-bg{
    background-color : #f6f6f6;
}

.white-bg{
    background-color: white;
}

#main {
    display: none;
}

section:not(:first-of-type){
    padding : 5em 1em;
}

.title{
    text-transform: uppercase;
}

/* Top Button */

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgreen;
    padding : .75em;
    transition: all 1s;
}

#topBtn:hover{
    cursor: pointer;
    background : #09cca5;
    color : #fff;
}

/* loader */

#loader{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
}

#loader img{
    width: 20em;
    position : relative;
    top : 10em;
}

/* Navbar */

#mainNavbar {
    font-size: 1.25rem;
    font-weight: 100;   
    transition: background 500ms; 
}

#mainNavbar .nav-link {
    color: white;
    padding: 1em 1.2em;
    font-size : .9em;
    transition: all 1s;
    display: block;
  position: relative;
}

#mainNavbar .nav-link:hover {
    color: lightgreen;    
}

#mainNavbar .nav-link::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 80%;
  height: 0.1em;
  background-color: lightgreen;
  transition: opacity 300ms, transform 300ms;
  opacity 1;
  transform: scale(0);
  transform-origin: center;
}

#mainNavbar .nav-link:hover::after,
#mainNavbar .nav-link:focus::after {
  opacity: 1;
   transform: scale(1);
}

/*#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}*/

.navbar.scrolled {
    background: #00b894;
    transition: background 500ms;
}

/* Banner */

#banner{
    height : 100vh;
    padding : 0 1em !important;
}

#banner p{
    margin : 0 !important;
    font-size : 1.15em;
}

/* About */

#about img{
    border : 5px solid lightgray;
    border-radius: 1.25em;
}

/* Services */

#services img{
    width : 100%;
}

#services .img-box{
    width : 120px;
    height:  120px;
    border : 2px solid rgba(0, 0, 0, .5);
    border-radius: 50%;
    margin : 0 auto;
    display: flex;
    align-items: center;
    /*background : lightgreen;*/
}

/*Wholesale*/

#wholesale a{
    transition: all .5s;
}

#wholesale a:hover{
    background-color: transparent;
    color : #fff;
}

/* Recent Blogs */

#blogs img{
    transition: all 1s;
}

#blogs img:hover{
    -webkit-filter: grayscale(.7);
}

#blogs h4{
    color : #10ac84;
}

#blogs .text-box p{
    color : #898989;
    margin-top : 1em;
}

/* Footer */

footer{
    background-color: #10ac84;
}

#footer{
    padding : 7em 1em;
    color : #fff;
}

#footer h4{
    margin-bottom : 1em;
}

#footer p{
    margin : 0 0 20px 0 !important;
}

#footer #about span{
    font-size : .9em;
}

.social-icon a{
    /*color : #ccc;*/
    font-size : 1.25em;
    padding-right : .8em;
    text-decoration: none;
}

.social-icon i{
    transition: all 1s;
    border : 1px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
    background : rgba(0, 0, 0, .3);
    color : #faf7f7;
    padding : .35em;

}

.social-icon i:hover{
    background : rgba(0, 0, 0, .8);
    color : #ccc;
}

#copyright{
    background-color : #0d795e;
    color : #fff;
    font-size : .8em;
}

#copyright div{
    padding : .4em;
}

/*Carousel*/

#best-sellers .carousel-item img{
    padding : .25em;
}

.carousel-control-prev,
.carousel-control-next{
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
}

.carousel-control-prev{
    position: absolute;
    top: 45%;
}

.carousel-control-next{
    position: absolute;
    top: 45%;
}

@media (max-width: 992px) {
    #best-sellers .carousel-inner .carousel-item > div {
        display: none;
    }
    #best-sellers .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

#best-sellers .carousel-inner .carousel-item.active,
#best-sellers .carousel-inner .carousel-item-next,
#best-sellers .carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
}

.carousel-indicators{
    bottom : -2em;
}

.carousel-indicators [data-bs-target]{
    width : 10px;
    height: 10px;
    border-radius : 50%;
}

/* Custormer FeedBack */

#feedback .card{
    margin: auto;
    border-radius : 1.5em;
}

#feedback .card-header{
    border-radius: 1.5em  1.5em 0 0;
    background-color: #09cca5;
    padding-top : 1em
}

#feedback img{    
   width: 100px;
   height: 100px;
   border-radius : 50%;
   /*margin: auto;*/
}

#feedback .rating i{
    color : #09cca5;
}

.left-quote{
    position: relative;
    right : 5em;
    top : 2em;
}

.right-quote{
    position: relative;
    right : -5em;
    bottom : 2em;
}

@media (min-width: 1024px){
    #feedback .card { width : 60%  }
    .left-quote { right : 14em }
    .right-quote { right : -14em }
}

@media (min-width: 768px) and (max-width: 1023px){
    #feedback .card { width : 80%  }
    .left-quote { right : 10em }
    .right-quote { right : -10em }
}

@media ( min-width : 1440px){
    #feedback .card { width : 55% }
}

#feedback .card-header .left-quote::before {
    content: "\f10d";
    font-family: 'Font Awesome 5 Free';
    font-size: 4em;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    opacity: .3;    
}

#feedback .card-header .right-quote::after {
    content: "\f10e";
    font-family: 'Font Awesome 5 Free';
    font-size: 4em;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    opacity: .3;    
}

#feedback{
    background: url('../imgs/blog-2.jpg');
    position: relative;
    background-size: cover;  
}

#color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
}

/*Blogs*/

.thumbnail-minimal {
    position: relative;
    overflow: hidden;
    display: block;
}

.thumbnail-minimal::before {
    content: '';
    display: block;
    padding-bottom: 60%;
}

.thumbnail-minimal-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    /*max-width: none;*/
}

.thumbnail-minimal-caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgb(89 218 135 / 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.thumbnail-minimal-caption::before {
    content: "\f06e";
    font-family: 'Font Awesome 5 Free';
    font-size: 30px;
    line-height: 1;
    color: #fff;
}

.thumbnail-minimal:hover .thumbnail-minimal-caption {
    opacity: 1;
    visibility: visible;
}